<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['prueba']" icon="prueba" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <h1>Prueba uno del entorno
                    <i>Test</i>
                </h1>
                <p>enpezando con morris Graph </p>
            </div>
 <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quibusdam, corporis rem facilis quia amet sed dolor deserunt dolorem recusandae at a dicta illo error ullam, hic magni neque repudiandae!</p>
                    </div>
                    <div>
                        <div class="widget-body no-padding">
                            <sa-morris-graph [data]="morrisDemoData.sales"
                                             type="area"
                                             [options]="{
                                            xkey: 'period',
                                            ykeys: ['iphone', 'ipad', 'itouch'],
                                            labels: ['iPhone', 'iPad', 'iPod Touch'],
                                            pointSize: [2],
                                            hideHover: 'auto'
                                         }"
                            ></sa-morris-graph>
                        </div>
                    </div>
        </div>
    </div>
    <button (click)="download()">download </button>
</div>