<aside id="left-panel">

  <nav>

    <ul saSmartMenu>

      <li routerLinkActive="active">
        <a routerLink="/home" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
      </li>

      <li>
        <a routerLink="/prueba" title="prueba">
          <i class="fa fa-lg fa-fw fa-bitcoin"></i> <span class="menu-item-parent">{{'prueba' | i18n}}</span></a>
      </li>

    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
